<div class="card manga">
  <% if manga.cover.attached? %>
    <%= image_tag manga.cover, class: "manga-cover" %>
  <% end %>
  <div class="manga-info">
    <a href="<%= url_for manga %>"><h2><%= manga.name %></h2></a>
    <div class="manga-description">
      <%= manga.description %>
    </div>
  </div>
</div>