<div class="mangas">
  <a href="/mangas/new" class="add-manga dashed"><i class="fa fa-plus"></i>Добавить мангу</a>
  <% @mangas.each do |manga| %>
    <%= render 'manga', manga: manga %>
  <% end %>
</div>
