<div id="manga-top" class="container">
  <div class="card manga">
    <%= form_with(url: '/mangas', class: "add-manga", remote: true) do |form| %>
      <label class="manga-title">Название манги</label>
      <%= text_field_tag 'manga[name]' %>

      <label>Ссылки на оригнальную мангу</label>
      <div id="edit-original-links">
        <a href="#" data-turbolinks="false" class="add-link" id="add-original-link"><i class="fa fa-plus"></i>Добавить
          ссылку</a>
      </div>

      <label>Ссылки на перевод</label>
      <div id="edit-translated-links">
        <a href="#" data-turbolinks="false" class="add-link" id="add-translated-link"><i class="fa fa-plus"></i>Добавить
          ссылку</a>
      </div>

      <label>Описание</label>
      <%= text_area_tag 'manga[description]' %>

      <button type="submit">Сохранить!</button>
    <% end %>
  </div>
</div>

<script>
    initMangaForm()
</script>