<div id="manga-top" class="container">
  <div class="card manga">
    <div class="manga-cover">
      <% if @manga.cover.attached? %>
        <%= image_tag @manga.cover, class: "manga-cover" %>
      <% else %>
        <div class="dnd-image-loader">
          <span>Кликни чтобы выбрать изображение</span>
          <span>Или просто перетащи его сюда!</span>
          <i class="fa fa-file-image"></i>
        </div>
      <% end %>
      <%= form_with(id: "load-image", url: "/mangas/" + @manga.id.to_s, method: "patch", remote: true) do |form| %>
        <%= form.file_field 'manga[cover]', id: "load_cover", class: "load_image_input" %>
      <% end %>
    </div>
    <div class="manga-info">
      <div id="manga-actions">
        <a href="#" data-id="<%= @manga.id %>" data-turbolinks="false" id="delete-manga-trigger"><i class="fa fa-trash"></i></a>
        <a href="#" data-turbolinks="false" id="edit-manga-trigger"><i class="fa fa-pencil-alt"></i></a>
      </div>
      <h1><%= @manga.name %></h1>
      <table id="manga-info-links-table">
        <tr>
          <td class="manga-info-title">Оригинал:</td>
          <td class="manga-info-links">
            <% @manga.original_links.each do |link| %>
              <a href="<%= link %>"><%= link %></a>
            <% end %>
          </td>
        </tr>
        <tr>
          <td class="manga-info-title">Перевод:</td>
          <td class="manga-info-links">
            <% @manga.translated_links.each do |link| %>
              <a href="<%= link %>"><%= link %></a>
            <% end %>
          </td>
        </tr>
      </table>
      <p class="manga-description">
        <%= @manga.description %>
      </p>
    </div>
    <%= form_for(@manga, class: "edit-manga", remote: true) do |form| %>
      <label class="manga-title">Название манги</label>
      <%= text_field_tag 'manga[name]', @manga.name %>

      <label>Ссылки на оригнальную мангу</label>
      <div id="edit-original-links">
        <% @manga.original_links.each do |link| %>
          <div class="link"><%= text_field_tag 'manga[original_links][]', link %>
            <button class="remove-link"><i class="fa fa-trash"></i></button>
          </div>
        <% end %>
        <a href="#" data-turbolinks="false" class="add-link" id="add-original-link"><i class="fa fa-plus"></i>Добавить
          ссылку</a>
      </div>

      <label>Ссылки на перевод</label>
      <div id="edit-translated-links">
        <% @manga.translated_links.each do |link| %>
          <div class="link"><%= text_field_tag 'manga[translated_links][]', link %>
            <button class="remove-link"><i class="fa fa-trash"></i></button>
          </div>
        <% end %>
        <a href="#" data-turbolinks="false" class="add-link" id="add-translated-link"><i class="fa fa-plus"></i>Добавить
          ссылку</a>
      </div>

      <label>Описание</label>
      <%= text_area_tag 'manga[description]', @manga.description %>

      <button type="submit">Сохранить!</button>
    <% end %>
  </div>
</div>
<div id="manga-chapters-wrapper" class="card container">
  <ul id="manga-chapters">
    <%= form_with(url: "/mangas/#{@manga.id}/chapters", id: "add-chapter") do |form| %>
      <input type="number" name="chapter[number]" id="chapter-number" placeholder="Номер главы" step="0.1" min="0" value="<%= @manga.chapters.empty? ? 1 : @manga.chapters.last.correct_number.floor + 1 %>"/>
      <input type="text" name="chapter[title]" id="chapter-title" placeholder="Название главы"/>
      <button type="submit">Добавить</button>
    <% end %>
    <% @manga.chapters.reverse.each do |chapter| %>
      <li>
        <div class="translation-progress" style="width: <%= chapter.translated_percent %>%;"></div>
        <div class="chapter-info">
          <a class="chapter-name" href="<%= url_for @manga %>/chapters/<%= chapter.number %>">
            Глава <%= chapter.correct_number %>
            <% if !chapter.title.nil? && !chapter.title.empty? %> - <%= chapter.title %>
            <% end %>
          </a>
          <div class="right">
            <a href="#" data-turbolinks="false"
               data-id="<%= chapter.id %>"
               data-title="<%= chapter.title %>"
               data-number="<%= chapter.correct_number %>"
               class="edit-chapter"><i class="fa fa-pencil-alt"></i></a>
            <a href="#" data-turbolinks="false"
               data-id="<%= chapter.id %>"
               class="remove-chapter"><i class="fa fa-trash"></i></a>
            <span class="chapter-date"><%= chapter.created_at.strftime("%d.%m.%Y %H:%M") %></span>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
</div>
<script>
    initChapterList()
    initMangaForm()
</script>