<% content_for :nav_middle do %>
<div id="chapter-info">
  <a href="/mangas">Манга</a>
  <i class="fa fa-arrow-right"></i>
  <a href="<%= url_for @manga %>"><%= @manga.name %></a>
  <i class="fa fa-arrow-right"></i>
  <span>Глава <%= @chapter.correct_number %></span>
</div>
<% end %>

<% content_for :translate_progress do %>
  <div id="chapter-translation-progress-wrapper">
    <div id="chapter-translation-progress" style="width: <%= @chapter.translated_percent %>%;"></div>
  </div>
<% end %>

<div id="chapter-wrapper"
     data-chapter="<%= @chapter.id %>">
  <div id="chapter-texts">
    <% @chapter.pages.each do |page| %>
        <div class="page-texts" id="page<%= page.id %>" data-pageindex="<%= page.index %>" data-pageid="<%= page.id %>">
          <div class="left">
            <div class="original-image active">
<!--              <img src="<%#= page.original_image.variant(resize: "x800").service_url %>" class="chapter-image" />-->
              <% if page.original_image.attached? %>
                <%= image_tag page.original_image.variant(resize: "x800").service_url, class: "chapter-image" %>
              <% else %>
                <div class="dnd-image-loader">
                  <span>Кликни чтобы выбрать изображение</span>
                  <span>Или просто перетащи его сюда!</span>
                  <i class="fa fa-file-image"></i>
                </div>
              <% end %>
              <%= form_with(model: page, id: "load-image", url: "/pages/" + page.id.to_s, method: "patch", remote: true) do |form| %>
                <%= form.file_field :original_image, id: "load_original_image", class: "load_image_input" %>
              <% end %>
            </div>
          </div>
          <div class="page-data">
            <div class="page-index"><a href="#page<%= page.id %>" class="page-title" data-turbolinks="false">Страница <%= page.index %></a> <a href="#" class="remove-manga" data-pageid="<%= page.id %>"><i class="fa fa-trash"></i></a></div>
            <div class="texts">
              <% page.page_texts.each do |text| %>
            <div class="pads-wrapper dnd-item" data-textid="<%= text.id %>">
              <div class="pad-info">
                <span class="pad-number"><%= text.index %></span>
                <span class="dnd-trigger">||</span>
                <a href="#" class="check-translated
              <% if text.is_translated %>active
              <% end %>"><i class="fa fa-check"></i></a>
              </div>
              <div class="pads">
                <div class="pad pad-original no-left" data-pad="text-<%= text.id %>_original" data-placeholder="Оригинал">
                  <div id="data"><% unless text.original_owners.nil? %>[<% text.original_owners.each.with_index do |owner, index| %>{"key": "<% if text.original[index] == '"' %>\"<% else %><%= text.original[index] %><% end %>","owner": "<%= owner %>"}<% if text.original_owners.length - 1 != index %>,<% end %><% end %>]<% end %></div>
                </div>
                <div class="translate-suggestions">
                </div>
                <div class="pad pad-translated no-left" data-pad="text-<%= text.id %>_translated" data-placeholder="Перевод">
                  <div id="data"><% unless text.translated_owners.nil? %>[<% text.translated_owners.each.with_index do |owner, index| %>{"key": "<% if text.translated[index] == '"' %>\"<% else %><%= text.translated[index] %><% end %>","owner": "<%= owner %>"}<% if text.translated_owners.length - 1 != index %>,<% end %><% end %>]<% end %></div>
                </div>
              </div>
            </div>
          <% end %>
              <a href="#" id="add-pad" class="dnd-invisible" data-pageid="<%= page.id %>"><i class="fa fa-plus"></i>Добавить надпись</a>
              <a href="#" id="trash-pad" class="dnd-trash"><i class="far fa-trash-alt"></i>Удалить</a>
            </div>
          </div>
        </div>
    <% end %>
    <a href="#" id="add-page" class="dashed"><i class="fa fa-plus"></i>Добавить страницу</a>
  </div>

  <div id="chapter-chat">
    <div id="chat-top">Чат</div>
    <div id="chat-messages">
      <% @chapter.chat_messages.each do |message| %>
        <div class="message">
            <span class="datetime">[<%= message.created_at.in_time_zone('Europe/Moscow').strftime("%H:%M") %>
              ]</span><a href="#" style="color: <%= "#" + message.user.color %>"><%= message.user.login %></a>:
          <span class="text"><%= message.text %></span>
        </div>
      <% end %>
    </div>
    <%= form_with(url: "/chapters/#{@chapter.id}/messages", id: "chat-bottom") do |form| %>
      <input id="chat-input" name="message[text]" placeholder="Введите сообщение"/>
      <button type="submit" id="chat-send"><i class="fa fa-play"></i></button>
    <% end %>
  </div>
</div>

<script>
    initTexts()
    initLeft()
    initAddAndRemove()
    initChat()
    // t, getElByTrigger, callback, trashCallback, debug
    dndIt(document.querySelector("#chapter-texts"), null, el => {
        let els = Array.from(document.querySelectorAll('.pads-wrapper'))
        console.log(el.dataset.textid, els.indexOf(el) + 1)
        document.querySelectorAll('.pad-number').forEach((number, i) => number.innerText = i + 1)
        setPageTextIndex(el.dataset.textid, els.indexOf(el) + 1)
    }, el => {
        if (!confirm('Вы уверены что хотите удалить этот текст?')) return
        deletePageText(el.dataset.textid);
        el.remove()
    }, true)
</script>