/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import url("https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i");

* {
  box-sizing: border-box;
}

body, html {
  margin: 0;
  color: white;
  background: #424242;
  font-family: 'Roboto', sans-serif;
  min-height: 100%;
}

nav#nav {
  background: #353535;
  height: 64px;
  display: flex;
  padding: 0 16px;
  position: relative;

  div#translate-progress {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    position: absolute;
    z-index: 100500;
  }

  .nav-link {
    color: white;
    height: 100%;
    text-decoration: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0 16px;
    transition: background .1s;

    &:hover {
      background: rgba(0,0,0,.1);
    }
  }

  #logo {
    font-weight: bold;
    font-size: 1.5em;
  }

  .right {
    margin-left: auto;
  }
}

#content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  padding: 16px 0;
  max-width: 1000px;
}

.card {
  background: #323232;
  padding: 16px;
  border-radius: 5px;
  position: relative;
}

a {
  color: #607D8B;
  text-decoration: none;
}

input {
  width: 100%;
  border: none;
  background: transparent;
  color: white;
  font-size: 16px;
  border-bottom: 2px solid #4a4a4a;
  padding: 6px;
  transition: border-color .2s;

  &:focus, &:active {
    outline: none;
    border-color: #848484;
  }
}

textarea {
  width: 100%;
  border: none;
  background: transparent;
  color: white;
  font-size: 16px;
  border-bottom: 2px solid #4a4a4a;
  padding: 6px;
  transition: border-color .2s;

  &:focus, &:active {
    outline: none;
    border-color: #848484;
  }
}

button, .button {
  border: none;
  background: #272727;
  padding: 8px 16px;
  font-size: 16px;
  color: white;
  border-radius: 5px;
  cursor: pointer;

  &:focus, &:active {
    outline: none;
  }
}

form {
  label {
    display: inline-block;
    margin-bottom: 6px;
    color: #b7b7b7;
  }

  input {
    margin-bottom: 16px;
  }
}

.modal-wrapper {
  position: fixed;
  left: 0;
  top: 0;
  height:  100%;
  width: 100%;
  display: none;
  background: #00000094;
  align-items: center;
  justify-content: center;


  &.active {
    display: flex;
  }

  .modal {
    background: #323232;
    padding: 16px;
    min-width: 450px;
  }
}

#logout_link {
  display: block;
  margin-bottom: 16px;
}

div#update-user {
  position: absolute;
  right: 8px;
  top: calc(64px + 8px);
  width: 250px;
  z-index: 999;
  display: none;

  &.active {
    display: block;
  }
}

a.dashed {
  padding: 8px;
  display: flex;
  border: 1px dashed gray;
  align-items: center;
  transition: background .2s, color .2s, border-color .2s;

  &:hover {
    background: rgba(0,0,0,.1);
    color: white;
    border-color: white;
  }

  i {
    margin-right: 8px;
  }
}

.error {
  display: none;
  color: red;
  margin-bottom: 16px;
}
