// Place all the styles related to the Mangas controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

.mangas {
  padding: 16px 0;
  max-width: 900px;
  width: 100%;

  & > * {
    margin-bottom: 16px;
  }

  .manga {
    display: flex;
    max-width: 900px;
    width: 100%;
    align-items: flex-start;
    margin-bottom: 16px;

    .manga-cover {
      width: 200px;
      margin-right: 16px;
    }

    .manga-info {
      h2 {
        margin-top: 0;
      }
    }
  }
}

#manga-top {
  width: 100%;
  .manga {
    display: flex;
    width: 100%;
    align-items: flex-start;

    #manga-actions {
      position: absolute;
      right: 16px;
      top: 16px;

      a {
        margin-left: 16px;
      }
    }

    .manga-cover {
      width: 200px;

      #load-image {
        display: none;
      }

      .dnd-image-loader {
        margin: 16px 0;
        height: calc(100% - 32px);
        width: 100%;
        border: 1px dashed #757575;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        color: #a2a2a2;
        padding: 16px;
        cursor: pointer;
        transition: background .2s, color .2s, border-color .2s;


        &.active {
          //font-size: 1.2em;
          color: white;
          border-color: white;
          background: #3e3e3e;
        }

        span {
          margin-bottom: 16px;
        }

        .fa {
          font-size: 3em;
        }
      }
    }

    .manga-info {
      margin-left: 16px;

      &.hidden {
        display: none;
      }

      h1 {
        margin-top: 0;
      }
    }

    form.edit_manga, form.add-manga {
      width: 100%;
      margin-left: 16px;
      display: none;
      flex-direction: column;

      &.active, &.add-manga {
        display:flex;
      }

      & > input, & > textarea, & > div {
        margin-bottom: 24px;
      }

      label {
        display: flex;
        padding-bottom: 3px;
        color: gray;
        font-size: 0.9em;

        &.manga-title {
          padding-top: 0;
        }
      }

      .link {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 8px;

        input {
          margin-bottom: 0;
        }

        button.remove-link {
          margin-left: 32px;
          margin-right: 16px;
        }
      }

      a.add-link {
        padding: 8px;
        display: flex;
        border: 1px dashed gray;
        align-items: center;
        transition: background .2s, color .2s, border-color .2s;

        &:hover {
          background: #2d2d2d;
          color: white;
          border-color: white;
        }

        i {
          margin-right: 8px;
        }
      }

      & > button {
        margin-left: auto;
      }
    }
  }

  #manga-info-links-table {
    td.manga-info-title {
      display: flex;
      color: grey;
    }

    td.manga-info-links {
      padding: 8px;
      padding-top: 0;
      flex-direction: column;

      a {
        color: #665fbd;
        display: block;
      }
    }
  }
}

#manga-chapters-wrapper {
  width: 100%;

  ul#manga-chapters {
    margin: 0;
    padding: 0;
    list-style: none;

    #update-chapter {
      width: 100%;
      margin: 0;
    }

    form#add-chapter, form#update-chapter {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 6px 0;
      /* border-bottom: 1px solid gray; */
      margin-bottom: 8px;

      &#update-chapter {
        margin-bottom: 0;
      }

      input#chapter-number {
        width: auto;
      }

      input#chapter-title {
        width: 100%;
        margin-left: 16px;
        margin-right: 16px;
        /* margin: 0; */
      }

      * {
        margin-top: 0;
        margin-bottom: 0;
      }
    }

    li {
      background: #5d3737;
      display: flex;
      position: relative;
      margin: 3px 0;

      .translation-progress {
        position: absolute;
        width: 88%;
        height: 100%;
        background: #3a6754;
        top: 0;
        left: 0;
        z-index: 1;
      }

      .chapter-info {
        z-index: 2;
        display: flex;
        height: 100%;
        width: 100%;
        padding: 8px 16px;
        align-items: center;

        a.chapter-name {
          color: white;
          text-decoration: none;
          font-size: 1.2em;
        }

        .right {
          margin-left: auto;

          a {
            margin-right: 8px;
          }
        }

        span.chapter-date {
          margin-left: auto;
          color: #d4d4d4;
        }
      }
    }
  }
}