$left-bg: #6b6b6b;
$left-bc: #505050;
$line-num-color: white;

$left-width: 41px;
$left-border-width: 1px;

.pad {
  width: 100%;
  height: 100%;
  border: 1px solid #313131;
  margin: 16px;
  display: block;
  position: relative;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  cursor: text;
  //overflow-y: auto;
  background: #565656;
  transition: border-color .2s;

  #data {
    display: none;
  }
}

.fakeArea {
  padding-top: 6px;
}

.placeholder {
  position: absolute;
  left: $left-width + $left-border-width + 6px;
  color: #a2a2a2;
}

.no-left .placeholder {
  left: 6px;
}

.caret-wrapper {
  width: 0;
  min-height: calc(1em + 2px);
  position: relative;
  display: inline-block;
}

.caret {
  display: none;
  width: 2px;
  min-height: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  background: black;
  -webkit-animation: cursor-blink 1s infinite;  /* Safari 4+ */
  -moz-animation: cursor-blink 1s infinite;  /* Fx 5+ */
  -o-animation: cursor-blink 1s infinite;  /* Opera 12+ */
  animation: cursor-blink 1s infinite;  /* IE 10+, Fx 29+ */
}

.focused .caret {
  display: block;
}

.cell {
  display: inline-block;
  min-height: 1em;
  padding: 1px 0;
  user-select: none;

  &.selected {
    background-color: blue !important;
  }
}

.row {
  width: 100%;
  min-height: calc(1em + 2px);
  padding-left: 48px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: stretch;
}

.no-left .row {
  padding-left: 6px;
}

.row:last-child {
  min-height: calc(1em + 8px);
  padding-bottom: 6px;
}

.fakeArea::before {
  content: ' ';
  background: $left-bg;
  width: $left-width - 1px;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  border-right: $left-border-width solid $left-bc;
}

.no-left .fakeArea::before {
  //width: 0;
  //border: none;
  display: none;
}

.line-num {
  background: $left-bg;
  border-right: $left-border-width solid $left-bc;
  position: absolute;
  left: 0;
  width: $left-width;
  height: 100%;
  padding: 0 6px;
  color: $line-num-color;
}

.no-left .line-num {
  display: none;
  //width: 0;
  //border: none;
}

.hiddenTextarea {
  width: 0px;
  height: 0px;
  position: absolute;
  left: -1000%;

}

@-webkit-keyframes cursor-blink {
  0%, 49% {
    background-color: white;
  }
  50%, 100% {
    background-color: transparent;
  }
}

.translate-suggestions {
  background: #353535;
}

.suggestion {
  padding: 6px;
  cursor: pointer;
  transition: background .1s;

  &:hover {
    background: #313131;
  }
}

span.suggestion-name {
  color: gray;
  margin-right: 8px;
}

.row-start {
  display: none;
}