// Place all the styles related to the Chapters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

::-webkit-scrollbar {
  width: 6px;
  cursor: pointer;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #353535;
  cursor: pointer;
}

div#chapter-info {
  display: flex;
  align-items: center;
  height: 100%;
  font-size: 1.2em;

  i {
    margin: 0 8px;
    font-size: 0.8em;
  }

  .right {
    margin-left: auto;

    a {
      margin-left: 16px;
    }

    #add-page {
      color: #00C853;
    }

    #remove-page {
      color: #EF5350;
    }
  }
}

div#chapter-translation-progress-wrapper {
  width: 100%;
  height: 5px;
  background: #EF5350;
  position: relative;

  div#chapter-translation-progress {
    height: 100%;
    background: #00C853;
    transition: width .2s;
  }
}

div#chapter-info-wrapper {
  width: 100%;
  padding: 0 16px;
  height: 48px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 8px;
  z-index: 100;


}

div#chapter-wrapper {
  height: calc(100% - 64px);
  width: 100%;
  padding: 16px;
  //padding-top: calc(48px + 16px);
  position: fixed;
  display: flex;
  align-items: flex-start;

  div#page-image-buttons {
    height: 62px;
    background: #353535;
    display: flex;
    width: 100%;

    a.flat-button {
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      font-size: 1.2em;
      border-bottom: 3px solid #313131;
      cursor: pointer;

      &.active {
        border-color: #607D8B;
        background: #313131;
      }
    }
  }

  #page-info-wrapper {
    background: #353535;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 69px;
    padding: 0 16px;
    padding-top: 5px;
    width: 100%;

    a {
      font-size: 1.5em;

      &.disabled {
        opacity: 0.2;
        cursor: default;
      }
    }

    #page-translation-progress-wrapper {
      background: #EF5350;
      height: 5px;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;

      #page-translation-progress {
        background: #00C853;
        height: 100%;
      }
    }

    #page-num {
      font-size: 1.2em;
    }
  }

  .left {
    height: 100%;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    margin-right: 16px;

    .original-image, .translated-image {
      max-height: 100%;
      max-width: 100%;
      display: none;
      min-height: 0px;
      width: 100%;
      //height: 100%;
      //min-width: 0px;
      justify-content: center;
      align-items: center;
      text-align: center;

      &.active {
        display: inline-block;
      }
    }

    img.chapter-image {
      max-width: 100%;
      max-height: 100%;
      //width: auto;
      cursor: pointer;


      &.active {
        opacity: .4;
      }
    }

    #load-image {
      display: none;
    }

    .dnd-image-loader {
      margin: 16px 0;
      height: calc(100% - 32px);
      width: 100%;
      border: 1px dashed #757575;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      text-align: center;
      color: #a2a2a2;
      padding: 16px;
      cursor: pointer;
      transition: background .2s, color .2s, border-color .2s;

      &.active {
        //font-size: 1.2em;
        color: white;
        border-color: white;
        background: #3e3e3e;
      }

      span {
        margin-bottom: 16px;
      }

      .fa {
        font-size: 3em;
      }
    }
  }

  div#chapter-texts {
    width: 75%;
    height: 100%;
    padding: 0 16px;
    margin: 0 16px;
    overflow-y: auto;
    margin-left: 0;

    .dnd-placeholder {
      border: 1px solid #313131;
    }





    a#add-pad {
      font-size: 1.2em;
      display: flex;
      align-items: center;
      padding: 0 16px;
      height: 48px;
      color: #d6d6d6;
      transition: background .2s;
      border: 1px dashed #828282;
      //margin-bottom: 16px;

      &:hover {
        background: #353535;
      }

      i {
        margin-right: 16px;
      }
    }

    #trash-pad {
      font-size: 1.2em;
      //display: flex;
      align-items: center;
      padding: 0 16px;
      height: 48px;
      color: #d6d6d6;
      transition: background .2s;
      border: 1px dashed #828282;
      margin-bottom: 16px;
      align-items: center;
      justify-content: center;
      display: none;

      &.visible {
        display: flex;
      }

      &.active {
        color: white;
        background: #353535;
      }

      i {
        margin-right: 16px;
      }
    }
  }

  div#chapter-chat {
    width: 25%;
    height: 100%;
    max-width: 500px;
    //margin-left: 32px;
    background: #565656;
    display: flex;
    flex-direction: column;

    div#chat-top {
      background: #353535;
      height: 52px;
      display: flex;
      align-items: center;
      padding: 0 16px;
      font-size: 1.2em;
    }

    div#chat-messages {
      width: 100%;
      height: 100%;
      overflow-y: auto;

      .message {
        display: flex;
        padding: 8px 16px;
        position: relative;

        .datetime {
          color: #848484;
          margin-right: 6px;
        }

        .text {
          margin-left: 6px;
        }
      }
    }

    #chat-bottom {
      background: #353535;
      display: flex;
      height: 64px;
      align-items: center;
      padding: 0 16px;

      #chat-input {
        width: 100%;
        border: none;
        background: transparent;
        color: white;
        font-size: 16px;
        border-bottom: 2px solid #4a4a4a;
        padding: 6px 0;
        transition: border-color .2s;
        margin: 0;

        &:focus, &:active {
          outline: none;
          border-color: #848484;
        }
      }

      #chat-send {
        margin-left: 16px;
        font-size: 1.2em;
      }
    }
  }
}

.pads-wrapper {
  width: 100%;
  margin-bottom: 16px;
  border: 1px solid #313131;
  display: flex;

  .pad-info {
    min-height: 100%;
    padding: 8px;
    min-width: 32px;
    background: #313131;
    //cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .check-translated {
      color: #00c853;
      opacity: 0.2;
      display: inline-block;
      transition: opacity .2s;
      margin-left: 3px;

      &:hover {
        opacity: 0.5;
      }

      &.active {
        opacity: 1;
      }
    }

    .pad-number {
      display: flex;
      width: 100%;
      justify-content: center;
      align-items: center;
    }

    .dnd-trigger {
      cursor: pointer;
      display: flex;
      width: 100%;
      justify-content: center;
      align-items: center;
      padding: 6px;
    }
  }

  .pads {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .pad {
    margin: 0;

    &.pad-original {

    }

    &.pad-translated {
    }
  }
}

.page-index::after, .page-index::before {
  content: " ";
  width: 100%;
  height: 2px;
  background: #868686;
  display: block;
  top: calc(50% - 1.5px);
  z-index: 0;
}

.page-index {
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
  width: 100%;
  background: #424242;
  padding: 6px 12px;
  padding-left: 0;
}

.page-index > a.page-title {
  background: #424242;
  z-index: 123;
  padding: 0 4px;
  margin: 0 auto;
  width: 100%;
  display: block;
  color: #adadad;
  font-size: 20px;
}


a.remove-manga {
  z-index: 2;
  position: absolute;
  right: 0px;
  background: #424242;
  padding-left: 14px;
  color: #EF5350;
}

.page-texts {
  padding-bottom: 32px;
  display: flex;
  margin-top: 32px;
  border-bottom: 3px solid #353535;
}

.page-data {
  width: 100%;
}

#add-page {
  margin-top:32px;
  font-size: 1.2em;
  display: flex;
  align-items: center;
  padding: 0 16px;
  height: 48px;
  color: #d6d6d6;
  transition: background .2s;
  border: 1px dashed #828282;
}