<!DOCTYPE html>
<html>
<head>
  <title>TMBackend</title>
  <%= csrf_meta_tags %>

  <script>
    <% if @user_current %>
    USER_LOGIN = "<%= @user_current.login %>";
    USER_COLOR = "<%= @user_current.color %>";
    USER_ID = <%= @user_current.id %>;
    COLORS = <%= @colors.to_json.html_safe %>
    <% else %>
    USER_LOGIN = null;
    USER_COLOR = null;
    USER_ID = null;
    COLORS = <%= @colors.to_json.html_safe %>
    <% end %>
      SOCKETS_URL = "<%= ENV["SOCKETS_URL"] || "http://localhost:8080" %>"
  </script>

  <meta name="turbolinks-cache-control" content="no-preview">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
</head>
<body>
<nav id="nav">
  <a href="/" class="nav-link" id="logo">TranslateMe!</a>
  <div id="nav-middle">
    <%= yield :nav_middle %>
  </div>
  <div class="right">
    <% if @user_current %>
      <a href="#" class="nav-link" id="update-user-trigger" data-turbolinks="false"><%= @user_current.login %></a>
      <div id="update-user" class="card">
        <a href="/logout" id="logout_link" data-turbolinks="false">Выйти</a>
        <%= form_for(@user_current, method: "patch", remote: true) do |form| %>
          <%= label_tag 'user[login]', "Логин:" %>
          <%= text_field_tag 'user[login]', @user_current.login, placeholder: "Логин" %>
          <%= label_tag 'user[color]', "Цвет:" %>
          <%= text_field_tag 'user[color]', @user_current.color, placeholder: "Цвет", class: 'jscolor'  %>
          <button type="submit">Сохранить!</button>
        <% end %>
      </div>
    <% else %>
      <a href="#" class="nav-link" id="register-trigger" data-turbolinks="false">Регистрация</a>
      <a href="#" class="nav-link" id="login-trigger" data-turbolinks="false">Вход</a>
    <% end %>
  </div>
  <div id="translate-progress">
    <%= yield :translate_progress %>
  </div>
</nav>

<div id="content">
  <%= yield %>
</div>

<% unless @user_current %>
  <div id="login-form" class="modal-wrapper">
    <div class="modal card">
      <h2 class="modal-title">Вход</h2>
      <p class="modal-content">
        <%= form_with(url: '/users/login', method: 'post') do |form| %>
          <div class="error">Что-то пошло не так</div>
          <label for="user[login]">Логин</label>
          <input name="user[login]" placeholder="Логин" class="login"/>
          <label for="user[password]">Пароль</label>
          <input name="user[password]" placeholder="Пароль" class="password" type="password"/>
          <button type="submit">Войти!</button>
        <% end %>
      </p>
    </div>
  </div>
  <div id="register-form" class="modal-wrapper">
    <div class="modal card">
      <h2 class="modal-title">Регистрация</h2>
      <p class="modal-content">
        <%= form_with(url: '/users', method: 'post') do |form| %>
        <div class="error">Что-то пошло не так</div>
          <label for="login">Логин:</label>
          <input name="user[login]" placeholder="Логин" /><br/>
          <label for="password">Пароль:</label>
          <input type="password" name="user[password]" placeholder="Пароль" /><br/>
          <label for="color">Цвет текста:</label>
          <input class="jscolor" name="user[color]" value="#<%= Random.new.bytes(3).unpack("H*")[0] %>"/><br/>
          <button type="submit">Зарегистрироваться!</button>
        <% end %>
      </p>
    </div>
  </div>
<% end %>
<script>
    initModals()
</script>
<style>
  <% if @user_current %>
  .pad.focused {
    border-color: <%= "#" + @user_current.color %>;
  }
  <% end %>
</style>
</body>
</html>
